# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# tmp files
*.tmp
tmp/

# vim files
*.swp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out.json

# Needed tools
hack/tools/bin/

# Needed by fv
test/fv/workload_kubeconfig
bin/manager

manager_image_patch.yaml-e
manager_pull_policy.yaml-e

version.txt
